@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    
    color: #fae6cf;
    font-size: 1em;
    font-weight: lighter;
    font-style: italic;
    
}

div{
    padding: 10px 20px;
    height: 100%;
    background: black url('imagens/flores-keke.jpeg')  no-repeat fixed;
    background-size: cover;
    
}

