@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 90vh;
    width: 100%;
    
    color: #fae6cf;
    font-size: 1em;
    font-weight: lighter;
    font-style: italic;
    
}

div{
    padding: 10px;
    background-image: url('imagens/flores-keke.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

